<!DOCTYPE html>
<html>
    <head>
        <title>Articles</title>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <div class="logo">
            <a href="/"><img src="/images/123.png" alt="test" height="60" width="60"></a>
            <h3>留言薄</h3>
        </div>
        <!-- <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Links</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
        </nav> -->
        <div>
            <a href="/create">添加留言</a>
        </div>
        <div id="articles">
            <% articles.forEach(article => { %>
                <div class="article">
                    <h1><%= article.title %></h1>
                    <p><%= article.content %></p>
                    <a href="/remove_article/<%= article._id %>">删除</a>
                </div>
            <% }); %> 
        </div>
        
    </body>
</html>