<!DOCTYPE html>
<html>
    <head>
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
        <title>留言板</title>
        <style>
        </style>
    </head>
    <body>
        <div class='container-fluid'>
            <div class="row bg-warning">
                <div class="col"></div><a href="/"><img src="/images/123.png" alt="test" height="60" width="60"></a><div></div>
                <div class="col"><h3>留言板</h3></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                    <div class="col-sm-3 col-md-3 offset-md-3">My first project</div>
                    <div class="col-sm-9 col-md-6 text-white bg-danger">Good Evening</div>
            </div>
        </div>

        <div class="btn-group" role="group" aria-label="">
            <button type="button" class="btn btn-secondary">123</button>
            <button type="button" class="btn btn-secondary">456</button>
            <div class="btn-group" role="group">
                <button id="dropdownId" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="#">123</a>
                    <a class="dropdown-item" href="#">456</a>
                </div>
            </div>
        </div>

        <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
        <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
        <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
        <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
        <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    </body>
</html>